<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />


    <title>StartupBus Tracker</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj2yedxyxrRHosIpntkz3FjQl83PqLECY&v=3.exp&sensor=false"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
  </head>
  <body>
	<p>some writing or information here</p>
    <div id="map-canvas"></div>
    <p>some more stuff here!</p>
  </body>
</html>
